@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    letter-spacing: 6px;
    font-size: 3em;
}

.header {
  color: #4c4c4c;
}

.warning {
  color: #949494;
  font-size: 2rem;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


[type="search"] {
  outline-color: #9eebcf;
  outline-width: 0;
  border-radius: 10px;
  border: 3px solid transparent;
  width: 300px;
  transition: ease-in-out 400ms;
}

[type="search"]:focus {
  border: 3px solid #9eebcf;
  transform: scale(1.1);
}

.card {
    background: linear-gradient(to left, rgba(158, 235, 207, 1) 0%, rgb(239, 244, 244) 100%);
}