body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3a3a3a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  color: #9eebcf;
}

.warning {
  color: #ff6868;
  font-size: 2rem;
}

[type="search"] {
  outline-color: #9eebcf;
  outline-width: 0;
  border-radius: 10px;
  border: 3px solid transparent;
  width: 300px;
  transition: ease-in-out 500ms;
}

[type="search"]:focus {
  border: 3px solid #9eebcf;
  transform: scale(1.1);
}